html
	head
		title hello
		script(src='lib/mach-grid.js')
		script(src="index.js")
		link(rel='stylesheet', type='text/css', href='index.css')
	body
		div#toolbar
			button#test-button-10 10건
			button#test-button-100 100건
			button#test-button-1k 1000건
			button#test-button-10k 1만건
			button#test-button-100k 10만건
			button#test-button-1000k 100만건
			
		div(data-role='mach-grid')#grid1
			table
				thead
					tr
						th 1
						th 2
						th(width=70) 3
						th 4
						th 5
						th 6
						th 7
						th 8
						th 9
						th 10
						th 11
						th 12
						th 13
						th 14
						th 15
						th 16
						th 17
						th 18
						th 19
						th 20
				tbody
					tr
						td proto1
						td proto2
						td(width=70) proto3
						td proto2
						td proto1
						td proto2
						td proto1
						td proto2
						td proto1
						td proto2
						td proto1
						td proto2
						td proto1
						td proto2
						td proto1
						td proto2
						td proto1
						td proto2
						td proto1
						td proto2
